{
    "presets": [
      ["@babel/preset-env", {
        "modules": false,
        "targets": {
          "browsers": ["> 0.3%", "last 5 versions", "not ie < 11"]
        },
        "debug": true
      }]
      //,"stage-2"
    ],
    "plugins": ["@babel/plugin-transform-runtime", "@babel/plugin-proposal-class-properties"]
  }
  